window
{
    background-color: white;
}

row
{
    background-color: white;
}

entry
{
    border: none;
    color: gray;
    background-color: white;
    font-size: 14px;
}

entry:focus
{
    border: none;
    color: blue;
    background-color: white;
    font-size: 14px;
}

text
{
	background-color: white;
	font-size: 14px;
	color: gray;
}

text:focus
{
	background-color: white;
	font-size: 14px;
	color: black;
}

#NotesActive
{
    color: red;
}

button
{
    background-color: white;
    background-image: none;
    border: 2px solid white;
}

label
{
    color: red;
}

#NotesLabel:focus
{
	color: blue;
}

#NotesButtonEdit:hover
{
    border-color: green;
}

#NotesButtonDelete:hover
{
    border-color: red;
}

#NotesButtonOpen:hover
{
    border-color: blue;
}

buttonbox > button:hover
{
	border: 1px solid green;
	transition: 0s linear;
}

buttonbox > button
{
	border-color: white;
	transition: 2s linear;
}
