window
{
    background-color: white;
}

row
{
    background-color: white;
}

#NotesTextEntry
{
    border: none;
    color: green;
    background-color: white;
    font-size: 16px;
}

#NotesActive
{
    color: red;
}

button
{
    background-color: white;
    background-image: none;
    border: 2px solid white;
}

label
{
    color: red;
}

#NotesLabel:focus
{
	color: blue;
}

#NotesButtonEdit:hover
{
    border-color: green;
}

#NotesButtonDelete:hover
{
    border-color: red;
}

#NotesButtonOpen:hover
{
    border-color: blue;
}

#SaveNoteButton:hover
{
    border-color: blue;
}
