window
{
	background-color: White;
}

list, flowbox
{
	background-color: Lightgray;
}

row, flowboxchild
{
	border-image-source: linear-gradient(to left, blue, #d53a9d);
	border-top: 1px solid;
	border-left: 1px solid;
	border-right: 1px solid;
	border-image-slice: 1;
	color: Black;
}

flowboxchild
{
	border-bottom: 1px solid;
}

row:last-child
{
	border-bottom: 1px solid;
}

row:nth-child(odd),flowboxchild:nth-child(odd) 
{
	background-color: Lightblue;
}

row:nth-child(even),flowboxchild:nth-child(even)
{
	background-color: White;
}

row:focus,flowboxchild:focus 
{
	color: White;
}

button
{
	border: 1px solid;
}

.activeListRow
{
	background-color: Orange;
}

label
{
	color: Black;
}
