window
{
	background-color: white;
}

list
{
	background-color: lightgray;
}

row
{
	border-image-source: linear-gradient(to left, blue, #d53a9d);
	border-top: 1px solid;
	border-left: 1px solid;
	border-right: 1px solid;
	border-image-slice: 1;
}

row:last-child
{
	border-bottom: 1px solid;
}

row:nth-child(odd)
{
	background-color: lightblue;
}

row:nth-child(even)
{
	background-color: white;
}

row
{
	color: Black;
}

row:focus
{
	background-color: Black;
	color: White;
}

button
{
	border: 1px solid;
}

.activeListRow
{
	background-color: orange;
}
