window
{
	background-color: white;
}

list
{
	background-color: lightgray;
}

row
{
	border-image-source: linear-gradient(to left, blue, #d53a9d);
	border-top: 1px solid;
	border-left: 1px solid;
	border-right: 1px solid;
	border-image-slice: 1;
}

row:last-child
{
	border-bottom: 1px solid;
}

label
{
    color: red;
}

button
{
	border: 1px solid;
}

.oddListRow
{
	background-color: lightblue;
}

.evenListRow
{
	background-color: white;
}

.activeListRow
{
	background-color: orange;
}

#NotesLabel
{
	color: black;
	font-size: 16px;
	font-weight: bold;
}
